@model CreateEventViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.PageId = "create";
    ViewBag.PageClass = "type-interior";
}

@section Resources {
    <script type="text/javascript" src="@Url.Content("~/Content/Event/Create.js")"></script>
}

@section Secondary {
    <h2 class="ui-bar-b ui-li ui-li-divider">Location</h2>
    <section>
        @Html.LabelFor(m => m.LocationName)
        @Html.TextBoxFor(m => m.LocationName, new { placeholder = "Name" })
        <span class="noGPS"></span>
    </section>

    <h2 class="ui-bar-b ui-li ui-li-divider">Participants</h2>
    <section>
        <label for="newNumber">Number</label>
        <input id="newNumber" placeholder="Number" value="" type="number">
        
        <label for="newName">Name</label>
        <input id="newName" placeholder="Name" value="" type="text">

        <button id="addParticipant">Add</button>
    </section>
}

@using (Html.BeginForm()) {
    <input type="submit" value="Create" />
    <ul data-role="listview" data-inset="true" data-split-icon="delete" id="participants">
            
    </ul>    
}
