<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="Elmah.MVC" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.5" targetFramework="net40" />
  <package id="Premotion.AspNet.AppHarbor.Integration" version="0.4.0" targetFramework="net40" />
  <package id="WebActivator" version="1.5.1" targetFramework="net40" />
</packages>