<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="MONGOLAB_URI" xdt:Locator="Match(key)" xdt:Transform="Remove"/><!-- App Harbor adds this key on deploy -->
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>