@{
    ViewBag.Title = "Home Page";
}

@Html.ActionLink("New Event", "Create", "Event")
<h2 class="list-header">Past Events</h2>
<ul class="list-view">
@foreach (Event e in Model) {
    <li>
        <a href="@Url.RouteUrl("ByDate", new { slug = e.Location.Slug, date = e.Date.ToSlug(), action = "ByDate" })">
            @e.Location.Name
            <span>
                @e.Date.ToShortDateString()
            </span>
        </a>
    </li>    
}
</ul>
