@{
    ViewBag.Title = "Home Page";
    ViewBag.PageId = "home";
}

@Html.ActionLink("New Event", "Create", "Event", null, new { data_role = "button" })
<ul data-role="listview" data-divider-theme="b" data-inset="true">
    <li data-role="list-divider" role="heading">
        Past Events
    </li>
@foreach (Event e in Model) {
    <li>
        <a href="@Url.Action("Details", "Event", new { id = e.ShortId, slug = e.Location.Slug })">
            @e.Location.Name
            <span class="ui-li-count">
                @e.Date.ToShortDateString()
            </span>
        </a>
    </li>
}
</ul>
